certifi==2023.5.7
charset-normalizer==3.1.0
docker==6.1.2
idna==3.4
packaging==23.1
requests==2.31.0
urllib3==2.0.2
websocket-client==1.5.2
Sphinx==7.0.1
sphinx-reredirects<1
towncrier~=22.12
furo==2023.5.20
-e .